<div class="relative">
  <div class="fixed w-full z-5 fade-in-bottom-up top-0">
    <app-topbar></app-topbar>
  </div>
  <div>
    <section id="hero" class="fade-in-top-down px-4 md:px-8">
      <app-hero></app-hero>
    </section>
    <div class="section-divider"></div>
    <section id="quote" class="quote-section text-center fade-in-top-down md:px-8">
      Saya bekerja menggunakan
      <div class="flex flex-wrap px-4 gap-4 mt-2 w-screen align-items-center justify-content-center py-4 cursor-pointer">
        <img src="/angular-icon.png" height="50" class="tech-icon" pTooltip="Angular">
        <img src="/java-icon.png" height="50" class="tech-icon" pTooltip="Java">
        <img src="/html-icon.png" height="50" class="tech-icon" pTooltip="HTML">
        <img src="/css-logo.png" height="50" class="tech-icon" pTooltip="CSS">
        <img src="/javascript-icon.png" height="50" class="tech-icon" pTooltip="Javascript">
        <img src="/python-icon.png" height="50" class="tech-icon" pTooltip="Python">
        <img src="/github-logo.svg" height="50" class="tech-icon" pTooltip="Github">
        <img src="/gitlab-logo.svg" height="50" class="tech-icon" pTooltip="Gitlab">
        <img src="/visual-studio-code.svg" height="50" class="tech-icon" pTooltip="Visual Studio Code">
        <img src="/postman.svg" height="50" class="tech-icon" pTooltip="Postman">
        <img src="/clickup.png" height="50" class="tech-icon" pTooltip="Clickup">
        <img src="/sourcetree-logo.svg" height="50" class="tech-icon" pTooltip="Sourcetree">
      </div>
      <blockquote class="quote-text">
        “Frontend by passion. <span class="text-red-400">
          Fullstack by profession.”
        </span>
      </blockquote>
    </section>
    <div class="section-divider"></div>
    <section id="projects" class="fade-in-top-down md:px-8">
      <app-projects></app-projects>
    </section>
    <div class="section-divider"></div>
    <section id="experience" class="fade-in-top-down px-4 md:px-8">
      <app-experience></app-experience>
    </section>
    <div class="section-divider"></div>
    <section id="journey" class="fade-in-top-down">
      <app-journey></app-journey>
    </section>
    <section id="skill" class="fade-in-top-down">
      <app-skill></app-skill>
    </section>
    <div class="section-divider"></div>
    <section id="profil" class="fade-in-top-down md:px-8">
      <app-profil></app-profil>
    </section>
    <app-footer></app-footer>
  </div>
</div>