<div class="container">
  <div class="padding-vertical-xlarge">
    <div class="timeline-main_heading-wrapper">
      <div class="margin-bottom-medium">
        <h2>Tech Stack & Capabilities</h2>
        <p class="text-black-alpha-50">
          Hover over each category to explore the tools, technologies, and frameworks I specialize in.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-wrap gap-4 justify-content-around">
  <div class="card">
    <div class="card__content">
      <div
        class="card__front border-round"
        style="background-image: url('/journey/nametag.jpg')"
      >
        <h3 class="card__title">Frontend</h3>
        <p class="card__subtitle">My Favorite!</p>
      </div>
      <div class="card__back border-round">
        <ul class="card__body text-left list-none p-0 m-0">
          <li class="flex grid">
            <img src="/angular-icon.png" width="30" class="tech-icon col-2" />
            <span class="ml-3 col">Angular</span>
          </li>
          <hr>
          <li class="flex grid">
            <img src="/primeng-logo.png" width="30" class="tech-icon col-2" />
            <span class="ml-3 col">
              PrimeNG
            </span>
          </li>
          <hr>
          <li class="flex grid">
            <img src="/material-ui-1.svg" width="30" class="tech-icon col-2" />
            <span class="ml-3 col">
              Material UI
            </span>
          </li>
          <hr>
          <li class="flex grid">
            <img src="/flutter.png" width="30" class="tech-icon col-2" />
            <span class="ml-3 col">
              Flutter
            </span>
          </li>
          <hr>
          <li class="flex grid">
            <img src="/godot_icon.svg" width="30" class="tech-icon col-2" />
            <span class="ml-3 col">
              Godot
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__content">
      <div
        class="card__front border-round"
        style="background-image: url('/journey/busy.jpeg')"
      >
        <h3 class="card__title">Utilites</h3>
        <p class="card__subtitle">
          Being my second job even its not in my jobdesc
        </p>
      </div>

      <div class="card__back border-round">
        <ul class="card__body text-left list-none p-0 m-0">
          <li class="flex grid">
            <img src="/github-logo.svg" width="30" class="tech-icon col-2" />
            <span class="ml-3 col">
              Github
            </span>
          </li>
          <hr>
          <li class="flex grid">
            <img src="/clickup.png" width="30" class="tech-icon col-2" />
            <span class="ml-3 col">
              Clickup
            </span>
          </li>
          <hr>
          <li class="flex grid">
            <img src="/openshift.svg" width="30" class="tech-icon col-2" />
            <span class="ml-3 col">
              Openshift
            </span>
          </li>
          <hr>
          <li class="flex grid">
            <img src="/figma-logo.svg" width="30" class="tech-icon col-2" />
            <span class="ml-3 col">
              Figma
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__content">
      <div
        class="card__front border-round"
        style="background-image: url('/journey/1.jpg')"
      >
        <h3 class="card__title">Backend</h3>
        <p class="card__subtitle">
          When design too hard, being full backend comes to my mind
        </p>
      </div>

      <div class="card__back border-round">
        <ul class="card__body text-left list-none p-0 m-0">
          <li class="flex grid">
            <img src="/java-icon.png" width="30" class="tech-icon col-2" />
            <span class="ml-3 col">
              Java
            </span>
          </li>
          <hr>
          <li class="flex grid">
            <img src="/python-icon.png" width="30" class="tech-icon col-2" />
            <span class="ml-3 col">
              Python
            </span>
          </li>
          <hr>
          <li class="flex grid">
            <img src="/express.png" width="30" class="tech-icon col-2" />
            <span class="ml-3 col">
              Express
            </span>
          </li>
          <hr>
          <li class="flex grid">
            <img src="/codeigniter.svg" width="30" class="tech-icon col-2" />
            <span class="ml-3 col">
              Codeigniter
            </span>
          </li>
          <hr>
          <li class="flex grid">
            <img src="/nodejs.png" width="30" class="tech-icon col-2" />
            <span class="ml-3 col">
              NodeJS
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
