@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);

  --fw-normal: 400;
  --fw-bold: 700;

  --clr: #b7c9e5;
}

.card {
  width: 400px;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background-color: var(--clr);
  /* background-image: url('/journey/busy.jpeg'); */
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
  color: #fff;
}

.card__front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  transform: var(--level-one);
}

.card__title {
  font-size: 3.5rem;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .75rem;
  font-weight: var(--fw-bold);
  opacity: .7;
}

.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}



.card__back {
  transform: rotateY(.5turn);
  color: #fff;
  background: #5e5e5e;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

h2 {
  font-size: 50px;
  background: #4ade80;
  background: -webkit-linear-gradient(to right, #4ade80, #0054a7);
  background: linear-gradient(to right, #4ade80, #0054a7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inline-block {
  max-width: 100%;
  display: inline-block;
}

.page-wrapper {
  z-index: 0;
  position: relative;
}

.container {
  width: 90vw;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.margin-bottom-medium {
  margin-bottom: 32px;
}

.paragraph-large {
  letter-spacing: -0.02em;
  font-size: 20px;
}

.section-timeline-heading {
  background-color: #0a0a0a;
}

.padding-vertical-xlarge {
  padding-top: 50px;
  padding-bottom: 50px;
}

.timeline-main_heading-wrapper {
  color: #fff;
  text-align: center;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 40px;
  }

  .paragraph-large {
    font-size: 18px;
  }

  .padding-vertical-xlarge {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .timeline_item {
    grid-template-columns: 64px 1fr;
    width: 100%;
  }

  .timeline_left {
    text-align: left;
    grid-area: 1 / 2 / 2 / 3;
  }

  .timeline_centre {
    justify-content: flex-start;
    grid-area: 1 / 1 / 3 / 2;
  }

  .timeline_right {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  .timeline_date-text {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .timeline_text {
    font-size: 20px;
  }

  .timeline_progress {
    left: 6px;
  }

  .margin-bottom-xlarge {
    margin-bottom: 48px;
  }
}