<div class="container">
  <div class="padding-vertical-xlarge">
    <div class="timeline-main_heading-wrapper">
      <div class="margin-bottom-medium">
        <h2>Programming Skillset</h2>
        <p class="text-black-alpha-50">Hover untuk lihat skillset yang saya miliki untuk masing-masing kategori</p>
      </div>
    </div>
  </div>
</div>
<div class="flex gap-4 justify-content-around">
  <div class="card">
    <div class="card__content ">

      <div class="card__front border-round" style="background-image: url('/journey/busy.jpeg');">
        <h3 class="card__title">Frontend</h3>
        <p class="card__subtitle">My Favorite!</p>
      </div>

      <div class="card__back border-round">
          <ul class="card__body list-none">
            <li>Angular</li>
            <li>PrimeNG</li>
            <li>Material-UI</li>
            <li>Flutter</li>
            <li>Godot</li>
          </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__content">

      <div class="card__front border-round" style="background-image: url('/journey/nametag.jpg');">
        <h3 class="card__title">Utilites</h3>
        <p class="card__subtitle">Being my second job even its not in my jobdesc</p>
      </div>

      <div class="card__back border-round">
        <ul class="card__body list-none">
          <li>Github</li>
          <li>Openshift</li>
          <li>Clickup</li>
          <li>Figma</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="card">
    <div class="card__content">

      <div class="card__front border-round" style="background-image: url('/journey/1.jpg');">
        <h3 class="card__title">Backend</h3>
        <p class="card__subtitle">When design too hard, being full backend comes to my mind</p>
      </div>

      <div class="card__back border-round">
        <ul class="card__body list-none">
          <li>Java</li>
          <li>Python</li>
          <li>Express</li>
          <li>Codeigniter</li>
          <li>Node.js</li>
        </ul>
      </div>

    </div>
  </div>


</div>