<div class="flex flex-column">
  <span class="text-6xl font-bold outline-text">
    <h1 class="m-0">CERTIFICATE</h1>
  </span>
</div>
<div class="card border-1 md:border-0 border-round border-primary mt-4">
  <p-table
    stripedRows
    showGridlines
    responsiveLayout="stack"
    [value]="exps"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template #header>
      <tr>
        <th>Tahun</th>
        <th>Institusi</th>
        <th>Status</th>
        <th>Keterangan</th>
      </tr>
    </ng-template>
    <ng-template #body let-exp>
      <tr>
        <td>
          <span class="flex flex-column md:flex-row align-items-start md:align-items-center">
            <span class="p-column-title font-semibold block md:hidden">
              Tahun
            </span>
            {{ exp.year }}
          </span>
        </td>
        <td>
          <span class="flex flex-column md:flex-row align-items-start md:align-items-center">
            <span class="p-column-title font-semibold block md:hidden">
              Institusi </span
            >{{ exp.institution }}
          </span>
        </td>
        <td>
          <span class="flex flex-column md:flex-row align-items-start md:align-items-center">
            <span class="p-column-title font-semibold block md:hidden">
              Status </span
            >{{ exp.role }}
          </span>
        </td>
        <td>
          <span class="flex flex-column md:flex-row align-items-start md:align-items-center">
            <span class="p-column-title font-semibold block md:hidden">
              Keterangan </span
            >
            <p-button
              *ngIf="exp.image"
              icon="pi pi-search"
              [rounded]="true"
              [text]="true"
              severity="info"
              (click)="op.toggle($event)"
            />
            <p-popover #op>
              <div class="flex flex-col gap-4">
                <p-image
                  appendTo="body"
                  [src]="exp.image"
                  [alt]="exp.description"
                  width="250"
                  [preview]="true"
                />
              </div>
            </p-popover>
            {{ exp.description }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
