<div class="page-wrapper w-screen">
  <div class="section-timeline-heading">
    <div class="container">
      <div class="padding-vertical-xlarge">
        <div class="timeline-main_heading-wrapper">
          <div class="margin-bottom-medium">
            <h2>Perjalanan Dunia IT-ku</h2>
          </div>
          <p class="paragraph-large">
            Sejak kecil saya sangat tertarik dengan dunia IT. <br />Saya mulai mengetahui komputer di zaman windows 95, kemudian saya bercita-cita ingin membuat game. Namun, nasib saya berkata lain untuk kuliah di jurusan Akuntansi dan Manajemen. Tapi saya tidak menyerah hingga akhirnya saya bekerja di bidang IT yang saya senangi.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-timeline">
    <div class="container">
      <div class="timeline_component">
        <div class="timeline_progress">
          <div class="timeline_progress-bar"></div>
        </div>
        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">Januari 2020</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-xlarge">
              <div class="timeline_text">
                Awal perjalanan saya masuk ke Direktorat Sistem Informasi dan Teknologi Perbendaharaan, dan join ke tim SAKTI
              </div>
            </div>
            <div class="timeline_image-wrapper">
              <img src="/journey/sitp-sakti.jpg" loading="lazy" width="480" alt="Join SAKTI" />
            </div>
          </div>
        </div>
        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">November 2020</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                Saya mulai diberikan kepercayaan untuk menjadi developer salah satu aplikasi core sistem DJPb yaitu SAKTI. Saya mendapatkan akun gitlab meskipun belum pernah belajar bahasa pemograman
              </div>
            </div>
            <div class="margin-bottom-xlarge">
              <div class="inline-block">
                <a class="timeline_link inline-block">
                  SAKTI Frontend Developer
                </a>
              </div>
            </div>
            <div class="timeline_image-wrapper">
              <img src="/journey/member-since.png" loading="lazy" width="480" alt="Member Since" />
            </div>
          </div>
        </div>
        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">Desember 2020</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                Saya mulai mempelajari bahasa pemograman yaitu PHP dengan menggunakan framework code igniter. Saya membuat aplikasi Point Of Sales (POS) untuk istri saya jualan kue kering
              </div>
            </div>
            <div class="timeline_image-wrapper">
              <img src="/journey/nastar.jpeg" loading="lazy" width="480" alt="Nastar" />
            </div>
          </div>
        </div>
        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">Maret 2021</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                Pertama kali commit di SAKTI !! Meskipun masih ada defect di hari keduanya
              </div>
            </div>
            <div class="timeline_image-wrapper margin-bottom-medium">
              <img src="/journey/first-commit.png" loading="lazy" width="480" alt="First Commit" />
            </div>
          </div>
        </div>
        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">September 2021</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                Mulai diberikan branch khusus sendiri untuk mengubah seluruh tampilan frontend SAKTI menjadi lebih modern (SAKTI UI Redesign)
              </div>
            </div>
            <div class="timeline_image-wrapper margin-bottom-medium">
              <img src="/journey/sakti-redesign.jpg" loading="lazy" width="480" alt="SAKTI Redesign" />
            </div>
          </div>
        </div>
        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">Januari 2022</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                Mulai meningkatkan skill untuk mempelajari backend SAKTI yang menggunakan Java, sehingga menjadi Full Stack Developer
              </div>
            </div>
            <div class="margin-bottom-xlarge">
              <div class="inline-block">
                <a class="timeline_link inline-block">
                  SAKTI Full Stack Developer
                </a>
              </div>
            </div>
            <div class="timeline_image-wrapper">
              <img src="/journey/first-backend.png" loading="lazy" width="480" alt="First Full Stack" />
            </div>
          </div>
        </div>
        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">Maret 2023</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                Mulai diamanahkan tugas baru untuk merapihkan halaman awal Monsakti
              </div>
            </div>
            <div class="margin-bottom-xlarge">
              <div class="inline-block">
                <a class="timeline_link inline-block">
                  Monsakti Frontend Developer
                </a>
              </div>
            </div>
            <div class="timeline_image-wrapper margin-bottom-medium">
              <img src="/monsakti-1.png" loading="lazy" width="480" alt="SAKTI Redesign" />
            </div>
          </div>
        </div>
        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">September 2023</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                Pindah tugas ke unit non IT, namun tidak menyerah untuk mempelajari IT. Berencana membuat game menggunakan Godot dan membuat inovasi untuk unit baru
              </div>
            </div>
            <div class="margin-bottom-xlarge">
              <div class="inline-block">
                <a class="timeline_link inline-block">
                  Freelance Developer - Kantin Treasury & Ikuchecker
                </a>
              </div>
            </div>
            <div class="timeline_image-wrapper margin-bottom-medium">
              <img src="/journey/godot.jpg" loading="lazy" width="480" alt="SAKTI Redesign" />
            </div>
          </div>
        </div>
        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">September 2024</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                Dikembalikan ke Unit IT untuk mengembangkan aplikasi integrasi, dipercaya untuk mengubah tampilan frontend sesuai desain dari tim perancangan
              </div>
            </div>
            <div class="margin-bottom-xlarge">
              <div class="inline-block">
                <a class="timeline_link inline-block">
                  MyIntress Full Stack Developer
                </a>
              </div>
            </div>
            <div class="timeline_image-wrapper margin-bottom-medium">
              <img src="/myintress-1.png" loading="lazy" width="480" alt="SAKTI Redesign" />
            </div>
          </div>
        </div>
        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">Juli 2025</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                Diminta untuk memperbaiki frontend aplikasi baru yaitu Impact
              </div>
            </div>
            <div class="margin-bottom-xlarge">
              <div class="inline-block">
                <a class="timeline_link inline-block">
                  Impact Frontend Developer
                </a>
              </div>
            </div>
            <div class="timeline_image-wrapper margin-bottom-medium">
              <img src="/impact-2.png" loading="lazy" width="480" alt="SAKTI Redesign" />
            </div>
          </div>
        </div>
        <div class="overlay-fade-top"></div>
        <div class="overlay-fade-bottom"></div>
      </div>
    </div>

    <div style="height: 50vh;">
      <span class="text-white font-bold text-3xl text-center flex justify-content-center">
        Now
      </span>
      <blockquote class="quote-text text-white">
        “Learning never stops. As a <span class="text-green-400">developer</span>, I’m committed to <span class="text-red-400">growing every single day.”
        </span>
      </blockquote>
    </div>
  </div>
</div>