<div class="page-wrapper">
  <div class="section-timeline-heading">
    <div class="container">
      <div class="padding-vertical-xlarge">
        <div class="timeline-main_heading-wrapper">
          <div class="margin-bottom-medium">
            <h2>My Journey in the World of IT</h2>
          </div>
          <p class="paragraph-large">
            I've been fascinated by the world of IT since I was a kid.<br>
            I was first introduced to computers back in the Windows 95 era, and I dreamed of creating my own games one day.
            Life took me in a different direction, leading me to study Accounting and Management instead.
            But I never gave up on my passion — and eventually, I found my way back, building a career in the IT field I've always loved.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-timeline">
    <div class="container">
      <div class="timeline_component">
        <div class="timeline_progress">
          <div class="timeline_progress-bar"></div>
        </div>

        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">January 2020</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-xlarge">
              <div class="timeline_text">
                The beginning of my journey at the Directorate of Information Systems and Treasury Technology, joining the SAKTI team.
              </div>
            </div>
            <div class="timeline_image-wrapper">
              <img src="/journey/sitp-sakti.jpg" loading="lazy" width="480" alt="Join SAKTI" />
            </div>
          </div>
        </div>

        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">November 2020</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                I was trusted to become a developer for one of DJPb’s core applications, SAKTI. I received a GitLab account, even though I hadn’t yet learned any programming languages.
              </div>
            </div>
            <div class="margin-bottom-xlarge">
              <div class="inline-block">
                <a class="timeline_link inline-block">
                  SAKTI Frontend Developer
                </a>
              </div>
            </div>
            <div class="timeline_image-wrapper">
              <img src="/journey/member-since.png" loading="lazy" width="480" alt="Member Since" />
            </div>
          </div>
        </div>

        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">December 2020</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                I started learning programming using PHP and the CodeIgniter framework. I built a Point of Sales (POS) system for my wife’s cookie business.
              </div>
            </div>
            <div class="timeline_image-wrapper">
              <img src="/journey/nastar.jpeg" loading="lazy" width="480" alt="Nastar" />
            </div>
          </div>
        </div>

        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">March 2021</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                My very first commit to SAKTI! Although it came with a defect the next day.
              </div>
            </div>
            <div class="timeline_image-wrapper margin-bottom-medium">
              <img src="/journey/first-commit.png" loading="lazy" width="480" alt="First Commit" />
            </div>
          </div>
        </div>

        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">September 2021</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                I was given my own development branch to revamp the entire SAKTI frontend UI to a more modern design (SAKTI UI Redesign).
              </div>
            </div>
            <div class="timeline_image-wrapper margin-bottom-medium">
              <img src="/journey/sakti-redesign.jpg" loading="lazy" width="480" alt="SAKTI Redesign" />
            </div>
          </div>
        </div>

        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">January 2022</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                I began upskilling by learning the Java-based backend system of SAKTI, evolving into a Full Stack Developer.
              </div>
            </div>
            <div class="margin-bottom-xlarge">
              <div class="inline-block">
                <a class="timeline_link inline-block">
                  SAKTI Full Stack Developer
                </a>
              </div>
            </div>
            <div class="timeline_image-wrapper">
              <img src="/journey/first-backend.png" loading="lazy" width="480" alt="First Full Stack" />
            </div>
          </div>
        </div>

        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">March 2023</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                I was assigned a new task to improve the homepage of the Monsakti application.
              </div>
            </div>
            <div class="margin-bottom-xlarge">
              <div class="inline-block">
                <a class="timeline_link inline-block">
                  Monsakti Frontend Developer
                </a>
              </div>
            </div>
            <div class="timeline_image-wrapper margin-bottom-medium">
              <img src="/monsakti-1.png" loading="lazy" width="480" alt="SAKTI Redesign" />
            </div>
          </div>
        </div>

        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">September 2023</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                I was reassigned to a non-IT unit, but I never gave up learning IT. I planned to build a game using Godot and developed innovations for my new unit.
              </div>
            </div>
            <div class="margin-bottom-xlarge">
              <div class="inline-block">
                <a class="timeline_link inline-block">
                  Freelance Developer - Kantin Treasury & Ikuchecker
                </a>
              </div>
            </div>
            <div class="timeline_image-wrapper margin-bottom-medium">
              <img src="/journey/godot.jpg" loading="lazy" width="480" alt="SAKTI Redesign" />
            </div>
          </div>
        </div>

        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">September 2024</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                I was reassigned to the IT unit to develop an integration platform. I was trusted to redesign the frontend based on the mockups from the design team.
              </div>
            </div>
            <div class="margin-bottom-xlarge">
              <div class="inline-block">
                <a class="timeline_link inline-block">
                  MyIntress Full Stack Developer
                </a>
              </div>
            </div>
            <div class="timeline_image-wrapper margin-bottom-medium">
              <img src="/myintress-1.png" loading="lazy" width="480" alt="SAKTI Redesign" />
            </div>
          </div>
        </div>

        <div class="timeline_item">
          <div class="timeline_left">
            <div class="timeline_date-text">July 2025</div>
          </div>
          <div class="timeline_centre">
            <div class="timeline_circle"></div>
          </div>
          <div class="timeline_right">
            <div class="margin-bottom-medium">
              <div class="timeline_text">
                I was assigned to fix and improve the frontend of a new internal application called Impact.
              </div>
            </div>
            <div class="margin-bottom-xlarge">
              <div class="inline-block">
                <a class="timeline_link inline-block">
                  Impact Frontend Developer
                </a>
              </div>
            </div>
            <div class="timeline_image-wrapper margin-bottom-medium">
              <img src="/impact-2.png" loading="lazy" width="480" alt="SAKTI Redesign" />
            </div>
          </div>
        </div>
        <div class="overlay-fade-top"></div>
        <div class="overlay-fade-bottom"></div>
      </div>
    </div>

    <div style="height: 50vh;">
      <span class="text-white font-bold text-3xl text-center flex justify-content-center">
        Now
      </span>
      <blockquote class="quote-text text-center text-white">
        “Learning never stops. <br> As a <span class="text-green-400">developer</span>, I’m committed to <span class="text-red-400">growing every single day.”
        </span>
      </blockquote>
    </div>
  </div>
</div>