<footer class="app-footer">
  <div class="footer-left align-items-center" pTooltip="If you're interested in hiring me, feel free to reach out for collaboration, partnership or follow me to stay in touch">
    Stay in touch
    <a href="https://wa.me/628121232904" target="_blank" rel="noopener" aria-label="WhatsApp">
      <i class="pi pi-whatsapp social-icon"></i>
    </a>
    <a href="https://instagram.com/ifarshall" target="_blank" rel="noopener" aria-label="Instagram">
      <i class="pi pi-instagram social-icon"></i>
    </a>
    <a href="http://discordapp.com/users/288534221373308928" target="_blank" rel="noopener" aria-label="Discord">
      <i class="pi pi-discord social-icon"></i>
    </a>
    <a href="mailto:ricaldifarshall@gmail.com" target="_blank" rel="noopener" aria-label="Email">
      <i class="pi pi-envelope social-icon"></i>
    </a>
  </div>

  <div class="footer-right">
    <span>Copyright © {{ currentYear }} by Ricaldi Farshall. All rights reserved.</span>
  </div>
</footer>
